@import url('https://fonts.googleapis.com/css?family=Roboto');

/* fuente fountsource */
/* saira-latin-wght-normal */
@font-face {
  font-family: 'Saira Variable';
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/saira:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(220deg,
      hsl(0deg 0% 40%) 0%,
      hsl(344deg 0% 37%) 23%,
      hsl(344deg 0% 34%) 33%,
      hsl(344deg 0% 30%) 40%,
      hsl(344deg 0% 27%) 47%,
      hsl(344deg 0% 24%) 54%,
      hsl(344deg 0% 21%) 66%,
      hsl(0deg 0% 18%) 100%);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  height: 100vh;
  clip-path: circle(10px at calc(100% - 45px) 45px);
  transition: all 0.4s ease-in-out;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#active:checked~.wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 23px;
  top: 30px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  font-size: 20px;
  color: #b3b3b3;
  cursor: pointer;
  background: linear-gradient(220deg,
      hsl(0deg 0% 40%) 0%,
      hsl(344deg 0% 37%) 23%,
      hsl(344deg 0% 34%) 33%,
      hsl(344deg 0% 30%) 40%,
      hsl(344deg 0% 27%) 47%,
      hsl(344deg 0% 24%) 54%,
      hsl(344deg 0% 21%) 66%,
      hsl(0deg 0% 18%) 100%);

  transition: all 0.5s ease-in-out;

  -webkit-box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.75);

}

#active:checked~.menu-btn {
  background: linear-gradient(220deg,
      hsl(0deg 0% 40%) 0%,
      hsl(344deg 0% 37%) 23%,
      hsl(344deg 0% 34%) 33%,
      hsl(344deg 0% 30%) 40%,
      hsl(344deg 0% 27%) 47%,
      hsl(344deg 0% 24%) 54%,
      hsl(344deg 0% 21%) 66%,
      hsl(0deg 0% 18%) 100%);
  color: #acacac;

}

#active:checked~.menu-btn i:before {
  content: "\f00d";
}

.wrapper ul {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 69px 0;
}

.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 30px;
  color: #bdbdbd;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;

  font-family: 'Saira Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  letter-spacing: 1.5px;
  opacity: 0.6;
  transform: scale(.1, 1);
}


input[type="checkbox"] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}


/* fuente fountsource */
/* saira-latin-wght-normal */
@font-face {
  font-family: 'Saira Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/saira:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fin fuente fountsource */

/* icons contacto*/


.containericonos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  position: absolute;
  top: 45%;
  left: 45%;
}

.socialIcons img {
  height: 40px;
  width: 40px;
}

.icons img {
  position: relative;
  display: block;
  margin-right: 0 auto;
  margin-left: 0 auto;
}


.loader-page {
  position: fixed;
  z-index: 25000;
  background-image: linear-gradient(to right bottom, #2e2e2e, #343434, #3a3a3a, #404040, #464646, #4d4d4d, #545454, #5b5b5b, #646464, #6e6e6e, #777777, #818181);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:all 2.3s ease;
}
.loader-page::before {
  content: "";
  position: absolute;
  border: 3px solid rgba(19, 19, 19, 0.726);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 3px solid rgba(50, 150, 176,0);
  border-top: 3px solid rgba(50, 150, 176,0);
  animation: rotarload 0.6s linear infinite;
  transform: rotate(0deg);
}
@keyframes rotarload {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.loader-page::after {
  content: "";
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 3px solid rgba(50, 150, 176, 0);
  border-top: 3px solid rgba(50, 150, 176, 0);
  animation: rotarload 0.8s ease-out infinite;
  transform: rotate(0deg);
}


/* logotpo header*/
.footer {
  text-align: center; /* Centra la imagen horizontalmente */
  padding: 40px 0; /* Agrega un poco de espacio alrededor de la imagen */
}

.footer img {
  max-width: 88px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
  
}
/* logotpo header*/

/* flechas animadas */

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  align-items: center;
  width: 22px;
  height: 22px;
  top: 92%;
  margin: -20px 0 0 -10px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #dbdbdb solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 19px;
  height: 19px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #eeeeee solid;
  border-bottom: 1px #f0f0f0 solid;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

/* flechas animadas */

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  align-items: center;
  opacity: 1;
}

.slide h1 {
  position: absolute; /* Posiciona el h1 absolutamente */
  bottom: 0; /* Lo coloca en la parte inferior del contenedor */
  left: 0; /* O la posición horizontal que desees */
  width: 100%; /* O el ancho que desees */
  text-align: center; /* O la alineación que desees */
  padding-bottom: 25px;

  font-family: 'Saira Variable';
  font-size: 20px;
  font-weight: 380;
  opacity: 0.8;
  letter-spacing: 1px;
}

.slide.current .content {
  opacity: 0.8;
  transform: translateX(600px);
  
}

.buttons button#next {
  position: absolute;
  top: 146%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 146%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 17px;
  border-radius: 100%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
      bottom: -300px;
      left: 0;
      width: 100%;
      height: 0.4;
  }

  .slide.current .content {
      transform: translateY(-300px);
  }
}

.logo-container {
  text-align: center;
  margin-top: 90px; /* Ajusta este valor según tus necesidades */
}

.logo-container img {
  max-width: 35%; /* Evita que la imagen se salga del contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
}

.logo-container_ratti {
  text-align: center;
  margin-top: 70px; /* Ajusta este valor según tus necesidades */
}

.logo-container_ratti img {
  max-width: 43%; /* Evita que la imagen se salga del contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
}



/* Backgorund Images */

.slide:first-child {
  background: url('/galeria/imagenes/Website\ \(1\).png') no-repeat center top/cover;
}

.slide:nth-child(2) {
  background: url('/galeria/imagenes/Website\ \(2\).png') no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url('/galeria/imagenes/Website\ \(3\).png') no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(5\).jpg') no-repeat center top/cover;
}

.slide:nth-child(5) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(6\).jpg') no-repeat center top/cover;
}

.slide:nth-child(6) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(3\).jpg') no-repeat center top/cover;
}

.slide:nth-child(7) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(2\).jpg') no-repeat center top/cover;
}
.slide:nth-child(8) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(8\).png') no-repeat center top/cover;
}
.slide:nth-child(9) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(1\).jpg') no-repeat center top/cover;
}
.slide:nth-child(10) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(9\).jpg') no-repeat center top/cover;
}
.slide:nth-child(11) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(11\).jpg') no-repeat center top/cover;
}
.slide:nth-child(12) {
  background: url('/galeria/imagenes/Marketing_Branding\ \(10\).jpg') no-repeat center top/cover;
}
.slide:nth-child(13) {
  background: url('/galeria/imagenes/Fotografia\ \(7\).jpeg') no-repeat center top/cover;
}
.slide:nth-child(14) {
  background: url('/galeria/imagenes/Fotografia\ \(3\).jpg') no-repeat center top/cover;
}
.slide:nth-child(15) {
  background: url('/galeria/imagenes/Fotografia\ \(1\).jpg') no-repeat center top/cover;
}
.slide:nth-child(16) {
  background: url('/galeria/imagenes/Fotografia\ \(9\).jpg') no-repeat center top/cover;
}
.slide:nth-child(17) {
  background: url('/galeria/imagenes/Fotografia\ \(10\).jpg') no-repeat center top/cover;
}
.slide:nth-child(18) {
  background: url('/galeria/imagenes/Fotografia\ \(2\).jpg') no-repeat center top/cover;
}
.slide:nth-child(19) {
  background: url('/galeria/imagenes/Fotografia\ \(4\).jpg') no-repeat center top/cover;
}
.slide:nth-child(20) {
  background: url('/galeria/imagenes/Fotografia\ \(8\).jpg') no-repeat center top/cover;
}
.slide:nth-child(21) {
  background: url('/galeria/imagenes/Fotografia\ \(5\).jpg') no-repeat center top/cover;
}


body {
	background: #000;
}
.brainContainer {
	width: 50vw;
	height: 50vw;
	max-height: 400px;
	max-width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	cursor: pointer;
	z-index: -1;
}
svg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
path {
	fill: transparent;
}
.brainPath {
	stroke: #f0f0f0;
	stroke-width: 1;
}
.brainCircle {
	stroke: #42ad8a;
	fill: #246424;
}
.brainRect {
	stroke: #525252;
	fill: #238323;
}
.brainEllipse {
	stroke: #1b4b1b;
	fill: #117411;
}
.animatePaths {
	animation: goPath 3000ms alternate infinite;
}
.animateCircles {
	animation: goCircle 3000ms alternate infinite;
}
.animateRects {
	animation: goRect 3000ms alternate infinite;
}
@keyframes goPath {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes goRect {
	to {
		opacity: 0;
	}
}
@keyframes goCircle {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #000;
}
.fooertext {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4.5s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
      background-position: -500%;
  }

  100% {
      background-position: 500%;
  }
}


.wrapzoomimagen {
  display: inline;
  width: 50%;
  height: 400px;
}
.imagezoomimagen {
  background-image: url("/Minimalist\ Black\ Wallpaper\ With\ 3D\ Grey\ Hexagonal\ Designs.png");
  background-size: cover;
  background-position: center center;
}
.bgzomm {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
@-webkit-keyframes zoom-a {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 120% auto;
  }
}
@-moz-keyframes zoom-a {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 120% auto;
  }
}
@-o-keyframes zoom-a {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 120% auto;
  }
}
@keyframes zoom-a {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 120% auto;
  }
}
.type-a {
  -webkit-animation: zoom-a 10s linear infinite alternate; /* Safari 4+ */
  -moz-animation: zoom-a 10s linear infinite alternate; /* Fx 5+ */
  -o-animation: zoom-a 10s linear infinite alternate; /* Opera 12+ */
  animation: zoom-a 10s linear infinite alternate; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes zoom-b {
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
  100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}
@-moz-keyframes zoom-b {
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
  100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}
@-o-keyframes zoom-b {
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
  100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}
@keyframes zoom-b {
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
  100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}
.type-b {
  -webkit-animation: zoom-b 5s linear infinite alternate; /* Safari 4+ */
  -moz-animation: zoom-b 5s linear infinite alternate; /* Fx 5+ */
  -o-animation: zoom-b 5s linear infinite alternate; /* Opera 12+ */
  animation: zoom-b 5s linear infinite alternate; /* IE 10+, Fx 29+ */
}

.logo-centrado {
  position: relative; /* ¡Importante! o absolute / fixed según necesites */
  z-index: 1;  
  top: 50%;           /* Mueve la esquina superior izquierda del logo al 50% vertical */
  left: 50%;          /* Mueve la esquina superior izquierda del logo al 50% horizontal */
  transform: translate(-50%, -50%); /* Desplaza el logo hacia atrás por la mitad de su propio tamaño */
  /* Opcional: Limitar el tamaño máximo del logo */
  max-width: 54%;
}
