
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(220deg,
      hsl(0deg 0% 40%) 0%,
      hsl(344deg 0% 37%) 23%,
      hsl(344deg 0% 34%) 33%,
      hsl(344deg 0% 30%) 40%,
      hsl(344deg 0% 27%) 47%,
      hsl(344deg 0% 24%) 54%,
      hsl(344deg 0% 21%) 66%,
      hsl(0deg 0% 18%) 100%);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  height: 100vh;
  clip-path: circle(10px at calc(100% - 45px) 45px);
  transition: all 0.4s ease-in-out;

  

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }



}

#active:checked~.wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  font-size: 20px;
  color: #b3b3b3;
  cursor: pointer;
  background: linear-gradient(220deg,
      hsl(0deg 0% 40%) 0%,
      hsl(344deg 0% 37%) 23%,
      hsl(344deg 0% 34%) 33%,
      hsl(344deg 0% 30%) 40%,
      hsl(344deg 0% 27%) 47%,
      hsl(344deg 0% 24%) 54%,
      hsl(344deg 0% 21%) 66%,
      hsl(0deg 0% 18%) 100%);

  transition: all 0.5s ease-in-out;

  -webkit-box-shadow: 0px 0px 15px 0.5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0.5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0.5px rgba(0,0,0,0.75);
 
}

#active:checked~.menu-btn {
  background: linear-gradient(220deg,
  hsl(0deg 0% 40%) 0%,
  hsl(344deg 0% 37%) 23%,
  hsl(344deg 0% 34%) 33%,
  hsl(344deg 0% 30%) 40%,
  hsl(344deg 0% 27%) 47%,
  hsl(344deg 0% 24%) 54%,
  hsl(344deg 0% 21%) 66%,
  hsl(0deg 0% 18%) 100%);
  color: #acacac;
  
}

#active:checked~.menu-btn i:before {
  content: "\f00d";
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 25px 0;
}

.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 30px;
  color: #999999;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;

  font-family: "Share Tech Mono", monospace;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 4px;
  opacity: 0.8;
  transform: scale(.1, 1);
}


input[type="checkbox"] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}


