@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* fuente fountsource */
/* saira-latin-wght-normal */
@font-face {
    font-family: 'Saira Variable';
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/saira:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    
    background: #333;
    color: #fff;
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    align-items: center;
    opacity: 1;
}



.slide h1 {
    font-family: 'Saira Variable';
    font-size: 16px;
    font-weight: 155;
    background: linear-gradient(220deg,
      hsl(0deg 0% 40%) 0%,
      hsl(344deg 0% 37%) 23%,
      hsl(344deg 0% 34%) 33%,
      hsl(344deg 0% 30%) 40%,
      hsl(344deg 0% 27%) 47%,
      hsl(344deg 0% 24%) 54%,
      hsl(344deg 0% 21%) 66%,
      hsl(0deg 0% 18%) 100%);
    opacity: 0.4;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    top: 4%;
    left: 35;
    border-radius: 3px;
}

.slide.current .content {
    opacity: 0.8;
    transform: translateX(600px);
    
}

.buttons button#next {
    position: absolute;
    top: 40%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 40%;
    left: 15px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}

@media (max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
        height: 0.4;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }
}



/* Backgorund Images */

.slide:first-child {
    background: url('/galeria/imagenes/Fotografia\ \(1\).jpg') no-repeat center top/cover;
}

.slide:nth-child(2) {
    background: url('/galeria/imagenes/Fotografia\ \(2\).jpg') no-repeat center top/cover;
}

.slide:nth-child(3) {
    background: url('/galeria/imagenes/Fotografia\ \(3\).jpg') no-repeat center top/cover;
}

.slide:nth-child(4) {
    background: url('/galeria/imagenes/Fotografia\ \(4\).jpg') no-repeat center top/cover;
}

.slide:nth-child(5) {
    background: url('/galeria/imagenes/Fotografia\ \(5\).jpg') no-repeat center top/cover;
}

.slide:nth-child(6) {
    background: url('/galeria/imagenes/Fotografia\ \(6\).jpg') no-repeat center top/cover;
}

.slide:nth-child(7) {
    background: url('/galeria/imagenes/Fotografia\ \(7\).jpg') no-repeat center top/cover;
}
.slide:nth-child(8) {
    background: url('/galeria/imagenes/Fotografia\ \(8\).jpg') no-repeat center top/cover;
}
.slide:nth-child(9) {
    background: url('/galeria/imagenes/Fotografia\ \(9\).jpg') no-repeat center top/cover;
}
.slide:nth-child(10) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(1\).jpg') no-repeat center top/cover;
}
.slide:nth-child(11) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(2\).jpg') no-repeat center top/cover;
}
.slide:nth-child(12) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(3\).jpg') no-repeat center top/cover;
}
.slide:nth-child(13) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(4\).jpg') no-repeat center top/cover;
}
.slide:nth-child(14) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(5\).jpg') no-repeat center top/cover;
}
.slide:nth-child(15) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(6\).jpg') no-repeat center top/cover;
}
.slide:nth-child(16) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(7\).jpg') no-repeat center top/cover;
}
.slide:nth-child(17) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(8\).png') no-repeat center top/cover;
}
.slide:nth-child(18) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(9\).jpg') no-repeat center top/cover;
}
.slide:nth-child(19) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(10\).jpg') no-repeat center top/cover;
}
.slide:nth-child(20) {
    background: url('/galeria/imagenes/Marketing_Branding\ \(11\).jpg') no-repeat center top/cover;
}
.slide:nth-child(21) {
    background: url('/galeria/imagenes/Website\ \(1\).png') no-repeat center top/cover;
}
.slide:nth-child(22) {
    background: url('/galeria/imagenes/Website\ \(2\).png') no-repeat center top/cover;
}